<launch>
	<!-- Do mapping argument -->
    <arg name="mapping" default="false"/> 

    <!-- Do not use machine files argument -->
    <arg name="sim" default="false"/>

    <!-- Hardware version -->
    <arg name="hardware" default="simulation"/>

 	<!--Operations-->
	<node machine="pc1" name="grab" pkg="rose_operations" type="grab" output="screen" respawn="false"></node>
 	<node machine="pc1" name="place" pkg="rose_operations" type="place" output="screen" respawn="false"></node>
 	<node machine="pc1" name="move_to" pkg="rose_operations" type="move_to" output="screen" respawn="false"></node>
 	<node machine="pc1" name="say" pkg="rose_operations" type="say" respawn="false"></node>
 	<node machine="pc1" name="give" pkg="rose_operations" type="give" output="screen" respawn="false"></node>
 	<node machine="pc1" name="handover_to_rose" pkg="rose_operations" type="handover_to_rose" output="screen" respawn="false"></node>
 	<node machine="pc1" name="arm_driving_position" pkg="rose_operations" type="arm_driving_position" output="screen" respawn="false"></node>
 	<node machine="pc1" name="arm_grabbing_position" pkg="rose_operations" type="arm_grabbing_position" output="screen" respawn="false"></node>
 	<node machine="pc1" name="position_determinator" pkg="rose_operations" type="position_determinator" output="screen"></node> 

</launch>
